@font-face {
font-family: VCR;
src: url("../fonts/VCR.ttf");
}

body {
  font-family: "VCR", Arial, Helvetica !important;
}

.fullpage-nav {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}